/* mixin */
@mixin full-area {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}
/* global */
$default-text-color: #FFFFFF;
.main,
.background,
.container,
.signature {
    width: 100%
}
/* Page Container */
.main {
    @include full-area;
    color: $default-text-color;
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:hover ul {
        opacity: 1;
    }
    .work {
        display: inline-block;
        padding: 10px 30px;
        margin: 0 5px;
        background-color: rgba(255, 255, 255, .8);
    }

    h1 {
        font-weight: normal;
    }
    ul {
        padding-left: 0;
        opacity: .2;
        transition: opacity 1s ease-in;
    }
    a {
        text-decoration: none;
        color: #000;
    }
}

.signature {
    position: absolute;
    bottom: 0;
}


/* Plugin of full colorful background */
.full-colorful-bg {
    @include full-area;
    transition: background-color 1s ease-in;
    z-index: -10;
    background-color: #7cd8fb;
    background-size: cover;
}