body {
  overflow: hidden;
}

/* mixin */
.full-screen {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* global */
:root {
  --default-text-color: #ffffff;
  --default-bg-color: #232525;
}
.main,
.container,
.signature {
  width: 100%;
}

/* Page Container */
.main {
  color: var(--default-text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  min-height: 40vh;
  margin-top: -20vh;
  box-sizing: border-box;
}

.container-bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: background-color 5s ease-in;
  background-color: #000000;
  opacity: 0.5;
  z-index: -1;
}

.project-link-item {
  display: inline-block;
  padding: 10px 30px;
  margin: 0 5px 5px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: box-shadow 0.3s ease;
  border: solid 1px rgba(255, 255, 255, 0.8);
}

.project-link-item:hover {
  box-shadow: inset 0 0 0 5px var(--default-bg-color);
}

.main-title {
  font-weight: normal;
  transition: color 5s ease-in;
}

.project-link-list {
  padding-left: 0;
  opacity: 0.4;
  transition: opacity 250ms ease-in;
}

.container:hover .project-link-list {
  opacity: 1;
}

.project-link {
  text-decoration: none;
  color: #000;
}

.signature {
  position: absolute;
  bottom: 0;
}

.container,
.signature {
  z-index: 10;
}
/* Plugin of full colorful background */
.full-colorful-bg {
  background-color: var(--default-bg-color);
  background-size: cover;
  background-image: url("https://source.unsplash.com/random/1920x1080");
}

@keyframes bg-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.animation-bg-scale {
  animation: bg-scale 30s ease-in-out infinite alternate;
}
