/* mixin */
.full-screen {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* global */
:root {
  --default-text-color: #fff;
}
.main,
.container,
.signature {
  width: 100%;
}

/* Page Container */
.main {
  color: var(--default-text-color);
  text-align: center;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  min-height: 200px;
  box-sizing: border-box;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
}

.project-link-item {
  display: inline-block;
  padding: 10px 30px;
  margin: 0 5px 5px;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: initial;
}

.main-title {
  font-weight: normal;
  pointer-events: initial;
}

.project-link-list {
  padding-left: 0;
  opacity: 0.2;
  transition: opacity 250ms ease-in;
}

.container:hover .project-link-list {
  opacity: 1;
}

.project-link {
  text-decoration: none;
  color: #000;
}

.signature {
  position: absolute;
  bottom: 0;
}

.container,
.signature {
  z-index: 10;
}
/* Plugin of full colorful background */
.full-colorful-bg {
  transition: background-color 1s ease-in;
  background-color: #232525;
  background-size: cover;
}
